
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    
}
body {
    background-color: #292a2d;
}
.container {
    min-height: 100vh;
    width: 100%;
    
}
#input-box {
    border: 2px solid rgba(255, 255, 255, 0.313);
    border-radius: 9px;
    padding: 1rem;
    max-width: 60%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: 1s all; 
    transition: height 2s ease;
}
input, textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    resize: none;
}
button {
    background-color: transparent;
    color: white;
    padding: 3px 1rem;
    border-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    bottom: 0;
    background-color: rgb(24, 24, 24);
}

.note {
    color: white;
    width: 30%;
    min-width: 20rem;
    border: 1px solid rgba(255, 255, 255, 0.313);
    border-radius: 9px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    min-height: 8rem;
}
#notes {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* padding-inline: 10%; */
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
}
.buttons>button {
    padding: 3px 5px;
    font-size: 0.9rem;
    margin-left: 5px;
    transition: 0.3s all;
}


#addNote, #addTitle {
    display: none;
}
.bottom {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom>p {
    font-size: 0.8rem;
    opacity: 0.7;
}
select {
    background-color: #292a2d;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    background-color: rgba(24, 24, 24, 0.53);
}
option {
    box-shadow: 2px 2px 2px red;
    color: white;
}
select:hover, button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

@media screen and (max-width:768px){
    #input-box {
        max-width: 90%;
    }
    #notes {
        padding-inline: 5%;
    }
    .note {
        width: 100%;
        padding: 1.4rem;
    }
}